.cart-button{
    position: absolute;
     margin-left: 75px;
     cursor: pointer;
     height: 35px;
     width: 85px;
     top:545px ;
     background: none;
     border-radius: 5px;
     border: 1px solid black;
    }

    .cart-button2 {
    margin-left:200px;
}
 
.cart-button:hover{
 border: 2px solid black;
}
