out-container{
  overflow: hidden;
}
.container2{
    position: relative;
    right: 400px;
    height: 250px;
    width: 280px;
    top: 30px;
    justify-content: center;
    align-items: center;
  }
  .order-delivery{
    position:absolute;
    top: 120px;
  }
  .page {
    /* background:#E1EBEE;
     */
     background: #FEFCFF;
    height: 740px;
  }
  
  .footer-page{
    position:absolute;
    top: 720px;
    width: 100%;
  }