.container2{
    position: relative;
    right: 400px;
    height: 250px;
    width: 280px;
    top: 30px;
    justify-content: center;
    align-items: center;
  }
  .order-delivery{
    position:absolute;
    top: 120px;
  }
  .page{
    background:#E1EBEE;
    height: 740px;
  }