.container1{
    position: absolute;
    left: 800px;
    right: 400px;
    height: 280px;
    width: 480px;
    top: 200px;
    display: flex;
    background: #F5F5F5;
    border-radius: 10px;
    padding: 4px;
    color:gray;
  }
 
  .heading{
    padding: 10px;
    margin-top: 4px;
    position: absolute;
    border-bottom: 1px solid black;
    width: 450px;
    font-family: Verdana, sans-serif;
  }
 
   .row-table{
    display: table;

   }

   .table-header-cell{
    display: table-cell;
    }

   .row-one-group{
    display: table-row-group;
   }

   .row-one-table{
    display: table-row;
   
   }

   .row-one-body{
    padding: 60px 50px 30px 20px;
    display: table-cell;
    text-align: justify;
    width: 450px;
    font-size: 23px;
    font-family: Verdana, sans-serif;
     }

     .row-two-body{
      padding: 0px 0px 130px 20px;
      display: table-cell;
      text-align: justify;
      width: 450px;
      font-size: 23px;
      font-family: Verdana, sans-serif;
     }

     .color{
      color: #4CBB17;
     }

     .row-three-body{
      position: relative;
      bottom: 100px;
      left: 20px;
      display: table-cell;
      text-align: justify;
      width: 450px;
      font-size: 23px;
      font-family: Verdana, sans-serif;
     }

     .row-four-body{
      position: relative;
      bottom: 67px;
      left: 20px;
      display: table-cell;
      text-align: justify;
      width: 450px;
      font-size: 23px;
      font-family: Verdana, sans-serif;
     }

     .savings{
      position: absolute;
      font-size: 25px;
      margin-top: 250px;
      right: 150px;
     }